<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Employee Details</title>
    
</head>
<body>
<center><h1>Employee Details</h1></center>
<hr>
<table border="3">
    <thead>
    <tr>
        <th scope="col">id</th>

    <th>first_name</th>
    <th>last_name</th>
    <th>department</th>
        <th>location</th>
    <th>salary</th>
    <th>bonus</th>
    <th>role</th>
    <th>phone</th>
    <th>hire_data</th>
    </tr>
    </thead>
    {% for emp in emps %}
    <tbody>
    <tr>
        <td scope="row">{{emp.id}}</td>
        <td>{{emp.first_name}}</td>
        <td>{{emp.last_name}}</td>
        <td>{{emp.department.name}}</td>
        <td>{{emp.department.location}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.bonus}}</td>
        <td>{{emp.role.name}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.hire_data}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

</body>
</html>